<p>Hi <%= person.firstname.value %>,</p>
<p>
  The lastest interview is live on _theInitialCommit!
  <a href="<%= links.post %>"><%= links.post %></a>
</p>
<p>
  As someone who's contributed an interview to _theInitialCommit, I'd like to
  ask for your help raising the visibility of the project by upvoting, sharing,
  or retweeting this week's post. Below are a few places I've posted this week's
  interview, and I'd very much appreciate it if you could engage with one or
  more of the posts on these networks.
</p>
<ul>
  <li>Upvote on Hacker News: <a href="<%= links.hn %>"><%= links.hn %></a></li>
  <li>Retweet/like and follow on Twitter: <a href="<%= links.twitter %>"><%= links.twitter %></a></li>
  <li>Upvote on Reddit: <a href="<%= links.reddit %>"><%= links.reddit %></a></li>
  <li>Like page and like post on Facebook: <a href="<%= links.facebook %>"><%= links.facebook %></a></li>
</ul>
<p>
  If you have an idea for another place to promote this week's post based on the
  subject matter of the interview, please let me know.
</p>
<p>Thanks!<br />John</p>
<p>
  <small>
    If you'd prefer not to receive these emails, please just reply to this
    message saying unsubscribe and I will remove you from this list.
  </small>
</p>
